body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Navbar */
.navbar {
    height: 60px;
    width: 100%;
    background-color: #252223;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar_left {
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
}

.navbar_left i {
    margin-right: 4px;
}

.navbar_right {
    font-size: 1.2rem;
    height: 100%;
}

.navbar_right-list {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar_right-item {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar_right-item:hover {
    background-color: #737373;
}

.navbar_item-content {
    text-decoration: none;
    color: white;
}

.navbar_right-item--selected {
    color: var(--primary-color);
    text-decoration: none;
}

.navbar_menu {
    display: none;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.navbar_menu a {
    color: var(--primary-color);
}
/* Content */
.content {
    padding: 0 100px;
    width: 100%;
    padding-top: 100px;
}

.content_section {
    
    width: 100%;
}

.content_section-heading {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 90px;
}

.content_section-heading h3 {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 100%;
    display:  block;
    position: relative;
}

.content_section-heading h3:after {
    content: "";
    width: 50%;
    height: 2px;
    border-bottom: 1px solid var(--primary-color);
    position: absolute;
    bottom: -20px;
    left: 25%;
}

/* cart */
.cart_container-none {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart_container-none span {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.cart_container-have {
    background-color: #ccc;
    border-radius: 4px;
    display: block;
    margin-bottom: 12px;
}

.cart_header {
    height: 40px;
    display: flex;
    background-color: #fff;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(119, 118, 118, 0.05);
}

.cart_header-content {
    font-size: 1.8rem;
    font-weight: 550;
    width: 13%;
}

.product_name {
    width: 48%;
}

.cart_item-container {
    padding: 8px 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 4px;
}

.cart_product {
    display: flex;
    width: 48%;
}

.cart_product-left {
    margin-right: 6px;
}

.cart_product-right {
    line-height: 2rem;
}

.cart_product-right span {
    font-size: 1.6rem;
    font-weight: 550;
}

.cart_product-right p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #3d3d3d;
}

.cart_product-quantity {
    width: 13%;
    padding-left: 1%;
    display: flex;
    align-items: center;
}

.cart_product-quantity button {
    width: 20px;
    cursor: pointer;
    height: 20px;
}

.quantity {
    margin: 0 4px;
}

.cart_product-price, 
.cart_product-sum,
.cart_product-del {
    width: 13%;
    padding-left: 1%;
}

.cart_sum button,
.cart_product-del button {
    padding: 4px 10px;
    cursor: pointer;
}

.cart_sum {
    height: 40px;
    color: var(--primary-color);
    border-top: 3px solid burlywood;
    padding: 8px 20px;
    display: flex;
    align-items: center;
}

.cart_sum span {
    font-size: 2rem;
    display: inline-block;
    width: 12%;
}

.cart_sum span:first-child {
    width: 74%;
}
/* footer */
.footer {
    height: 150px;
    background-color: #252525;
    position: relative;
    bottom: 0;
}

.footer_heading {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #737373;
    font-size: 2.8rem;
    color: var(--primary-color);
}

.footer_heading h4 {
    margin-left: 16px;
}

.footer_icons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.footer_icons a {
    text-decoration: none;
    color: white;
}

.footer_icons i {
    margin-left: 20px;
}

/* Aside */
.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    right: 0;
    top: 25%;
    background-color: #555454;
    color: var(--primary-color);
    font-size: 2.4rem;
}

.aside div {
    padding: 10px 16px;
    cursor: pointer;
}

.aside div:hover {
    opacity: 0.6;
}

.cart span {
    height: 24px;
    width: 24px;
    font-size: 1.2rem;
    color: white;
    padding: 4px;
    border-radius: 50%;
    background-color: #7d2c1b;
    position: absolute;
    top: 46%;
    right: 4px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: fadeIn ease .6s;
}

.modal_close {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--primary-color);
    padding: 14px;
    cursor: pointer;
    opacity: 0.55;
    z-index: 2;
}

.modal_close i {
    font-size: 1.6rem;
}

.modal_close:hover {
    opacity: 1;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252223;
    opacity: 0.9;
    height: 100px;
    font-size: 2rem;
    color: var(--primary-color);
    word-spacing: 4px;
}

.modal_header i {
    margin-right: 20px;
}

.modal_content-log-in {
    padding: 0 40px;
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.modal_content-des {
    margin: 20px 0;
    font-size: 1.8rem;
    width: 100%;
    line-height: 2.1rem;
}

.modal_button {
    background-color: var(--primary-color);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
}

.logout {
    width: fit-content;
    margin-bottom: 6px;
}

.modal_button a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.modal_content-log-out {
    padding: 0 40px;
}

.modal_button-container {
    display: flex;
    justify-content: space-between;
}
/* Responsive */
/* Large Devices, Wide Screens */ 
@media only screen and (max-width : 1200px) {
    .content {
        padding: 0 50px;
        padding-top: 100px;
    }
}

/* Medium Devices, Desktops */ 
@media only screen and (max-width : 992px) {
    .content {
        padding: 0 40px;
        padding-top: 40px;
    }
    .navbar {
        position: relative;
        padding: 0 0 0 20px;
    }
    .navbar_right {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #252223;
        opacity: 0.9;
        height: auto;
        display: none;
    }
    .navbar_right-list {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_right-item {
        padding: 14px 60px;
        width: 100%;
    }
    .navbar_menu {
        height: 60px;
        display: flex;
        cursor: pointer;
    }
    .navbar_menu:hover {
        background-color: #737373;
    }
}

/* Small Devices, Tablets */ 
@media only screen and (max-width : 768px) {
    .cart_product-left {
        display: none;
    }
    .cart_header-content {
        width: 15%;
        margin-left: 2%;
    }
    .cart_product,
    .product_name {
        width: 40%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .header {
        height: 450px;
        background-size: contain;
        background-position: top;
    }
    .header_heading-bottom {
        display: none;
    }
    .heading_icons {
        display: none;
    }
    .header_container {
        top: 40px;
    }
    .header_heading span {
        font-size: 4rem;
    }
    .header_combo-top {
        padding: 40px 20px;
    }
    .header_combo-bottom h4 {
        font-size: 1.2rem;
    }
    .slide {
        margin-bottom: 40px;
    }
    .slide-wrap p {
        font-size: 0.9rem;
    }
    .content_section-heading h3 {
        font-size: 3.2rem;
    }
    .content_section-heading {
        margin-bottom: 50px;
    }
    .content-main-right-item {
        height: auto;
    }
    .content_section {
        margin-bottom: 40px;
    }
    .content_contact-form-top {
        display: flex;
        flex-direction: column;
    }
    .content_contact-right {
        width: 100%;
    }
    .content_contact-form-top {
        width: 100%;
    }
    .content_contact-form-top input:last-child {
        margin-left: 0px;
    }
    input {
        width: 100%;
    }
}